.fadeInRight {
  animation: fadeInRight 0.5s forwards;
}

.fadeOutRight {
  animation: fadeOutRight 0.5s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}

.fadeInLeft {
  animation: fadeInLeft 0.5s forwards;
}

.fadeOutLeft {
  animation: fadeOutLeft 0.5s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}
