.carousel-react-container-app {
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &_arrow {
      display: inline-block;
      padding: 0.5rem;
      padding-right: 0.75rem;
      border-radius: 0.5rem;
      padding-left: 0.85rem;
      padding-top: 0.75rem;

      &:active,
      &:focus {
        background-color: #f5f5f5;
        outline: 1px solid #ececec;
      }

      &:hover {
        @include pointer;
        background-color: #f5f5f5;
        transition: background-color 0.25s ease-in;
      }

      &-left {
        transform: rotate(180deg);
      }
    }
  }
}
